body, h1, p {
    background-color: hsl(128, 55%, 92%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
a{
    margin: 10px;
}
  .container {
    max-width: 350px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    display: block;
  }
  
  .text-content {
    padding: 20px;
  }
  
  .text-content h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .text-content p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  .social-links {
    height: auto;
    width: auto;
  }
  .x{
    height: 28px;
    width: 28px;
  }